body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f5f5f5;
  
}

.navbar {
  background-color: #1f7a4d;
  color: white;
  padding: 15px;
  text-align: center;
}

.container {
  padding: 20px;
  text-align: center;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  background-color: #1f7a4d;
  color: white;
  border: none;
  border-radius: 5px;
}
form {
  max-width: 400px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

button {
  margin-top: 20px;
  width: 100%;
}
.confirmation {
  margin-top: 20px;
  padding: 15px;
  background-color: #e6fff2;
  color: #1f7a4d;
  border: 1px solid #1f7a4d;
  border-radius: 5px;
  display: none;
}
